.side-menu-component {
  .sideMenu {
    font-weight: bold;
    min-height: 1200px;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
    border-right: solid 1px #DCDCDC;
    background-color: #e8eaf6;
    z-index: 2;
  }
}